<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoardGameVault</title>
    <!-- Include HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
    lowest item 412199

    <p>
        Find by ID
    </p>

    <form hx-post="http://127.0.0.1:8000/item" hx-trigger="submit" hx-target="#data-table" hx-swap="innerHTML">
      <label for="id">Enter ID:</label>
      <input type="number" id="id" name="id" required>
      <button type="submit">Fetch Data</button>
    </form>

    <p>
        Fetch all items
    </p>

    <form hx-post="http://127.0.0.1:8000/items" hx-trigger="submit" hx-target="#data-table" hx-swap="innerHTML">
      <label for="skip">Skip first:</label>
      <input type="number" id="skip" name="skip" value="0" required>
      <label for="limit">Limit shown:</label>
      <input type="number" id="limit" name="limit" value="10" required>
      <button type="submit">Fetch Data</button>
    </form>

    <table id="data-table"></table>


    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</body>
</html>